<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

{% paginate customer.orders by 20 %}
  <div class="grid padding-vertical-medium flex justify-center">
    <div class="wrapper">
      <header class="section-header text-center">
        <div class="flex flex-column align-center">
          <div class="h1 flex align-center justify-center color-white bgcolor-pink1 full-radius size-2em">
            {{ customer.first_name | slice: 0 }}
          </div>
          <h1 class="h2">¡Hola,
            {{ customer.first_name }}!</h1>
          {%- comment -%}{{ 'layout.customer.log_out'| t | customer_logout_link }}{%- endcomment -%}
        </div>
      </header>

      {% assign metafields = customer.metafields.global %}

      <div class="d-grid grid-columns-2 medium-grid-columns-3 text-center grid-gap-xsmall padding-horizontal-medium padding-vertical-xsmall border-pink medium-radius">
        {%- unless metafields.tono_piel == blank -%}
          <div>
            <span class="bold">
              Tono de piel:
            </span> {{ metafields.tono_piel }}
          </div>
        {%- endunless -%}
  
        {%- unless metafields.tono_cabello == blank -%}
          <div>
            <span class="bold">
              Color de cabello:
            </span> {{ metafields.tono_cabello }}
          </div>
        {%- endunless -%}
  
        {%- unless metafields.tipo_piel == blank -%}
          <div>
            <span class="bold">
              Tipo de piel:
            </span> {{ metafields.tipo_piel }}
          </div>
        {%- endunless -%}
  
        {%- unless metafields.detalles_piel == blank -%}
          <div>
            <span class="bold">
              Detalles de piel:
            </span> {{ metafields.detalles_piel }}
          </div>
        {%- endunless -%}
  
        {%- unless metafields.tonos_favoritos == blank -%}
          <div>
            <span class="bold">
              Tonos favoritos:
            </span> {{ metafields.tonos_favoritos }}
          </div>
        {%- endunless -%}
      </div>

      <div class="padding-vertical-xsmall"></div>

      <div class="d-grid grid.columns-1 medium-grid-columns-2 grid-gap-xsmall">
        <div>
          <div class="text-center bold padding-vertical-xxsmall small-radius" style="background-color: #f9e5e4;">
            Datos
          </div>
          <div class="padding-bottom-xsmall"></div>
          <div class="padding-vertical-xxsmall">
            <span class="bold">Nombre:</span>
            {{customer.name}}</div>
          <div class="padding-vertical-xxsmall">
            <span class="bold">Correo electrónico:</span>
            {{ customer.email }}</div>
          <div class="padding-vertical-xxsmall">
            <div>
              <span class="bold">Dirección:</span>
              {{customer.default_address.address1}}
              {{customer.default_address.address2}},
              {{customer.default_address.city}}
              {{customer.default_address.province}}</div>
            <div class="color-light-3">
              ¿No es la dirección correcta?
              <a href="{{ routes.account_addresses_url }}" class="text-link">{{ 'customer.account.view_addresses' | t }}</a>
            </div>
          </div>
        </div>
        <div>
          <div class="text-center bold padding-vertical-xxsmall small-radius" style="background-color: #f9e5e4;">
            Órdenes
          </div>
          <div class="padding-bottom-xsmall"></div>

          {% if customer.orders.size != 0 %}

            <div class="table-wrap">
              <table class="full table--responsive">
                <thead class="bottom-border-pink">
                  <tr class="margin-vertical-xsmall">
                    <th class="text-center">{{ 'customer.orders.date' | t }}</th>
                    <th class="text-center table-left-border-pink">{{ 'Estatus' }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in customer.orders %}
                    <tr class="table__section">
                      
                      <td class="text-center
                                                {% if order.fulfillment_status == "fulfilled" %}
                                                  color-light2
                                                {% endif %}" width="50%" data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'date' }}</td>
                      <td class="text-center
                                                {% if order.fulfillment_status == "fulfilled" %}
                                                  color-light2
                                                {% endif %}" width="50%" data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <hr class="hr--clear">

          {% else %}

            <p>{{ 'customer.orders.none' | t }}</p>

          {% endif %}
        </div>
      </div>

      {% render 'paywhirl-customer-portal-frame' %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endpaginate %}
  </div>
</div>