<!-- /templates/customers/register.liquid -->

{% capture cactus_svg %}
  <svg height="48" id="Capa_1" style="enable-background:new 0 0 470 470;" version="1.1" viewbox="0 0 470 470" width="38" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
    <g>
      <path d="M372.81,48.062c-22.594,0-40.976,18.382-40.976,40.976v77.608c0,23.154-16.968,42.411-39.121,46.01V57.713
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		C292.713,25.89,266.823,0,235,0s-57.713,25.89-57.713,57.713v221.893c-22.153-3.599-39.121-22.856-39.121-46.01v-77.608
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		c0-22.594-18.382-40.976-40.976-40.976c-22.594,0-40.976,18.381-40.976,40.976v77.608c0,68.376,53.655,124.458,121.072,128.356V455
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		h-22.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h160.427c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-22.5V295.001
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		c67.417-3.898,121.072-59.979,121.072-128.356V89.037C413.786,66.443,395.404,48.062,372.81,48.062z M398.786,166.646
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		c0,62.624-50.948,113.572-113.572,113.572c-4.142,0-7.5,3.358-7.5,7.5V455h-85.427V354.669c0-4.142-3.358-7.5-7.5-7.5
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		c-62.624,0-113.572-50.948-113.572-113.572v-77.608c0-14.323,11.652-25.976,25.976-25.976c14.323,0,25.976,11.653,25.976,25.976
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		v77.608c0,31.438,23.67,57.434,54.121,61.148v12.973c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V57.713
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		C192.287,34.161,211.448,15,235,15s42.713,19.161,42.713,42.713v183.053c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-12.973
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		c30.451-3.714,54.121-29.711,54.121-61.148V89.037c0-14.323,11.653-25.976,25.976-25.976s25.976,11.653,25.976,25.976V166.646z"/>
      <path d="M235,400.013c-4.142,0-7.5,3.358-7.5,7.5v15c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-15
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		C242.5,403.371,239.142,400.013,235,400.013z"/>
      <path d="M255.213,150.013c-4.142,0-7.5,3.358-7.5,7.5v15c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-15
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		C262.713,153.371,259.355,150.013,255.213,150.013z"/>
      <path d="M214.787,100.013c-4.142,0-7.5,3.358-7.5,7.5v15c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-15
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		C222.287,103.371,218.929,100.013,214.787,100.013z"/>
      <path d="M372.81,115.013c-4.142,0-7.5,3.358-7.5,7.5v15c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-15
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                		C380.31,118.371,376.952,115.013,372.81,115.013z"/>
      <path d="M97.19,205.013c-4.142,0-7.5,3.358-7.5,7.5v15c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-15
                                                                                                                                                                                                                                                                                                                                                            		C104.69,208.371,101.332,205.013,97.19,205.013z"/>
    </g>
  </svg>
{% endcapture %}

{%- capture balance -%}
  <svg height="40" id="Capa_1" style="enable-background:new 0 0 480.004 480.004;" version="1.1" viewbox="0 0 480.004 480.004" width="50" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
    <g>
      <g>
        <path d="M479.202,292.692l0.072-0.024l-78.808-171.952l19.112-9.512l-7.152-14.32l-18.632,9.28l-2.52-5.496
                                                                                                                                                                                                                                                                                                                                                                                                                                			c-1.842-4.016-6.59-5.779-10.606-3.938c-1.742,0.799-3.139,2.196-3.938,3.938l-2.248,4.912c-13.56-6.298-28.329-9.566-43.28-9.576
                                                                                                                                                                                                                                                                                                                                                                                                                                			h-67.2v-16h16v-16H266.25l5.752-23.016c4.416-17.673-6.33-35.58-24.003-39.997c-17.673-4.416-35.58,6.33-39.997,24.003
                                                                                                                                                                                                                                                                                                                                                                                                                                			c-1.312,5.25-1.312,10.743,0,15.993l5.752,23.016h-13.752v16h16v16h-67.16c-14.966,0.012-29.75,3.288-43.32,9.6l-2.248-4.912
                                                                                                                                                                                                                                                                                                                                                                                                                                			c-1.841-4.016-6.59-5.779-10.606-3.938c-1.742,0.799-3.139,2.196-3.938,3.938l-2.52,5.496l-18.632-9.32l-7.152,14.336
                                                                                                                                                                                                                                                                                                                                                                                                                                			l19.112,9.552L0.73,292.668c-0.486,1.045-0.734,2.184-0.728,3.336c0.035,30.913,25.087,55.965,56,56h80
                                                                                                                                                                                                                                                                                                                                                                                                                                			c30.913-0.035,55.965-25.087,56-56c-0.02-1.149-0.293-2.28-0.8-3.312l-79.024-172.6c11.487-5.332,24-8.092,36.664-8.088h67.16
                                                                                                                                                                                                                                                                                                                                                                                                                                			v292.688l-27.312,27.312h-28.688c-22.08,0.026-39.974,17.92-40,40c0,4.418,3.582,8,8,8h224c4.418,0,8-3.582,8-8
                                                                                                                                                                                                                                                                                                                                                                                                                                			c-0.026-22.08-17.92-39.974-40-40h-28.688l-27.312-27.312V112.004h67.2c12.664-0.004,25.177,2.756,36.664,8.088L288.73,292.668
                                                                                                                                                                                                                                                                                                                                                                                                                                			c-0.486,1.045-0.734,2.184-0.728,3.336c0.035,30.913,25.087,55.965,56,56h80c30.913-0.035,55.965-25.087,56-56
                                                                                                                                                                                                                                                                                                                                                                                                                                			C479.983,294.855,479.71,293.724,479.202,292.692z M136.002,336.004h-80c-19.002-0.021-35.375-13.387-39.2-32h158.4
                                                                                                                                                                                                                                                                                                                                                                                                                                			C171.378,322.617,155.004,335.983,136.002,336.004z M171.538,288.004H20.466l73.488-160.328c1.342,0.36,2.754,0.36,4.096,0
                                                                                                                                                                                                                                                                                                                                                                                                                                			L171.538,288.004z M226.618,22.532c6.23-7.392,17.273-8.333,24.665-2.103c0.759,0.64,1.463,1.344,2.103,2.103
                                                                                                                                                                                                                                                                                                                                                                                                                                			c3.236,4.116,4.379,9.5,3.096,14.576l-6.728,26.896H230.25l-6.728-26.896C222.239,32.032,223.383,26.648,226.618,22.532z
                                                                                                                                                                                                                                                                                                                                                                                                                                			 M232.002,96.004v-16h16v16H232.002z M248.002,112.004v288h-16v-288H248.002z M320.002,448.004
                                                                                                                                                                                                                                                                                                                                                                                                                                			c10.168,0.012,19.229,6.418,22.632,16H137.37c3.403-9.582,12.464-15.988,22.632-16H320.002z M268.69,432.004h-57.376l16-16h25.376
                                                                                                                                                                                                                                                                                                                                                                                                                                			L268.69,432.004z M381.938,127.7c1.321,0.465,2.77,0.405,4.048-0.168l73.552,160.472H308.466L381.938,127.7z M424.002,336.004h-80
                                                                                                                                                                                                                                                                                                                                                                                                                                			c-19.002-0.021-35.375-13.387-39.2-32h158.4C459.378,322.617,443.004,335.983,424.002,336.004z"/>
      </g>
    </g>
  </svg>
{%- endcapture -%}

{% capture mixed %}
  <svg height="40" id="Capa_1" style="enable-background:new 0 0 298.878 298.878;" version="1.1" viewbox="0 0 298.878 298.878" width="50" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
    <path d="M252.439,0h-206c-4.143,0-7.5,3.358-7.5,7.5v34.333c0,4.142,3.357,7.5,7.5,7.5s7.5-3.358,7.5-7.5V15h88v268.878H123.48
                                                                                                                                                                                                        	c-4.143,0-7.5,3.358-7.5,7.5c0,4.142,3.357,7.5,7.5,7.5h51.918c4.143,0,7.5-3.358,7.5-7.5c0-4.142-3.357-7.5-7.5-7.5h-18.459V15h88
                                                                                                                                                                                                        	v26.833c0,4.142,3.357,7.5,7.5,7.5c4.143,0,7.5-3.358,7.5-7.5V7.5C259.939,3.358,256.582,0,252.439,0z"/>
  </svg>
{% endcapture %}

{% capture water_drop %}
  <svg height="50" id="Capa_1" style="enable-background:new 0 0 294.465 294.465;" version="1.1" viewbox="0 0 294.465 294.465" width="40" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
    <g>
      <g>
        <path d="M174.432,32.465c-6.8-10-12.8-19.2-18.4-27.6c-0.8-1.2-2-2.4-3.2-3.2c-4.8-3.2-11.2-1.6-14.4,3.2
                                                                                                                                                                                                                                                                                                                                                                                        			c-5.2,8.4-11.2,17.2-18.4,27.6c-31.6,46.4-78.8,116.4-78.8,156.4c0,29.2,12,55.6,31.2,74.8c19.2,18.8,45.6,30.8,74.8,30.8
                                                                                                                                                                                                                                                                                                                                                                                        			s55.6-12,74.8-31.2c19.2-19.2,31.2-45.6,31.2-74.8C253.232,148.465,206.032,78.865,174.432,32.465z M207.632,248.865
                                                                                                                                                                                                                                                                                                                                                                                        			c-15.6,15.6-36.8,24.8-60.4,24.8c-23.6,0-44.8-9.6-60.4-24.8c-15.6-15.6-24.8-36.8-24.8-60.4c0-33.6,45.2-100.4,75.2-144.8
                                                                                                                                                                                                                                                                                                                                                                                        			c3.6-5.2,6.8-10.4,10-14.8c3.2,4.4,6.4,9.6,10,14.8c30,44.8,75.2,111.2,75.2,144.8
                                                                                                                                                                                                                                                                                                                                                                                        			C232.432,212.065,222.832,233.265,207.632,248.865z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M209.232,181.265c-5.6-0.4-10.4,4-10.8,9.6c-0.4,8.8-3.2,17.2-7.6,24.4c-4.4,7.2-10.8,13.6-18.4,17.6
                                                                                                                                                                                                                                                                                                                                                                                        			c-4.8,2.8-6.8,9.2-4,14c3.2,5.6,9.6,7.2,14.4,4.4c10.8-6,19.6-14.8,25.6-24.8c6.4-10,10-22,10.4-34.4
                                                                                                                                                                                                                                                                                                                                                                                        			C219.232,186.465,214.832,181.665,209.232,181.265z"/>
      </g>
    </g>
  </svg>
{% endcapture %}

{%- capture flower -%}
  <svg height="50" viewbox="0 0 60 57" width="50" xmlns="http://www.w3.org/2000/svg">
    <path d="m51.16 34.74c8.2-2.66 8.37-12.49 8.37-12.9 0-.2163702-.0701779-.4269038-.2-.6-.24-.34-6.15-8.19-14.35-5.52-2.2615655.7627698-4.3780141 1.9021358-6.26 3.37.8217756-2.2435265 1.2546558-4.6108403 1.28-7 0-8.62-9.29-11.82-9.68-11.95-.2075731-.07010994-.4324269-.07010994-.64 0-.39.13-9.68 3.33-9.68 12 .0278684 2.3889166.4606714 4.7558076 1.28 7-1.8849025-1.4868824-4.0083514-2.6432829-6.28-3.42-8.19-2.67-14.09 5.18-14.33 5.52-.12982213.1730962-.2.3836298-.2.6 0 .41.17 10.24 8.37 12.9 2.2784024.7174059 4.6629692 1.0387305 7.05.95-1.9826483 1.3288034-3.7242619 2.9858726-5.15 4.9-5.07 7 .57 15 .82 15.36.1205161.1801296.301364.311333.51.37 1.6028575.4589018 3.2627624.6878542 4.93.68 7.1 0 11-4.25 13-11 2.05 6.79 5.93 11 13 11 1.6643665.0036572 3.3208473-.2286542 4.92-.69.208636-.058667.3894839-.1898704.51-.37.25-.34 5.89-8.38.82-15.36-1.4277773-1.9088207-3.1651383-3.5650597-5.14-4.9 2.386353.0897957 4.7705403-.2280959 7.05-.94zm-21.16-32.57c1.52.6 8 3.55 8 9.93 0 5.77-3.26 11.76-6.88 16.22-.18-.07-.12.9-.12-11.22 0-.5522847-.4477153-1-1-1s-1 .4477153-1 1v10.42c-1.2135762-1.812548-2.5748761-3.5216985-4.07-5.11-1.8078685-3.144178-2.8141275-6.6849735-2.93-10.31 0-6.36 6.48-9.32 8-9.93zm-20.54 30.67c-6.05-2-6.87-9.05-7-10.68 1-1.26 5.84-6.51 11.91-4.54 5.5 1.79 10.18 6.73 13.3 11.57-.1.13.76.34-10.7-3.37-.5170805-.1475676-1.0582834.1401931-1.225095.65139-.1668117.511197.1004975 1.0627879.605095 1.24861l9.91 3.22c-2.1049175.5954577-4.155588 1.3682225-6.13 2.31-3.5367484.737118-7.200245.5963464-10.67-.41zm15.84 18.33c-3.73 5.15-10.71 3.74-12.3 3.34-.88-1.39-4.38-7.6-.64-12.74 3.36-4.62 9.56-7.61 15.11-9.07.09.14.55-.58-6.51 9.14-.2643322.4463148-.1435146 1.020651.2782316 1.3226421s1.0043876.2313663 1.3417684-.1626421l6.13-8.44c-.0856276 2.1742917.0113795 4.3519344.29 6.51-.3745135 3.6219068-1.6462033 7.0932762-3.7 10.1zm4.7-19.07c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1 1 .4477153 1 1-.4477153 1-1 1zm17.64 9.67c3.74 5.14.24 11.35-.64 12.74-1.59.4-8.57 1.81-12.3-3.34-3.4-4.68-4.27-11.41-4-17.17.16 0-.42-.77 6.68 9 .192624.3252383.5521755.5140678.9292782.488039s.7073009-.262467.8534132-.611086c.1461122-.3486189.0831645-.7498314-.1626914-1.036953l-6.1-8.44c2.0668956.7664364 4.1943239 1.3585037 6.36 1.77 3.2890614 1.4848516 6.1657316 3.7504869 8.38 6.6zm-14.64-10.48c0-.17-.75.14 10.64-3.57.5045975-.1858221.7719067-.737413.605095-1.24861-.1668116-.5111969-.7080145-.7989576-1.225095-.65139l-9.91 3.18c1.3489188-1.7208457 2.5530325-3.5504295 3.6-5.47 2.4356328-2.6764732 5.4870741-4.7187765 8.89-5.95 6-2 10.87 3.28 11.91 4.54-.1 1.64-.9 8.71-7 10.68-5.45 1.83-12.11.59-17.51-1.51z" id="Shape"/>
  </svg>
{%- endcapture -%}

{% capture face_svg %}
  <svg data-name="Layer 3" height="100" viewbox="0 0 64 64" width="90" xmlns="http://www.w3.org/2000/svg">
    <path d="M48.98 36.41l-.37 7.74a19.211 19.211 0 01-12.73 17.18 11.57 11.57 0 01-7.76 0 19.209 19.209 0 01-12.73-17.18l-.37-7.74.13-.03A23.605 23.605 0 0032 23a23.6 23.6 0 0016.85 13.38z" fill="white" id="face-skin"/>
    <g fill="black">
      <path d="M42.193 13.389A7.633 7.633 0 0043 10c0-4.963-4.935-9-11-9s-11 4.037-11 9a7.637 7.637 0 00.808 3.389A23.023 23.023 0 009 34a19.431 19.431 0 001 6.162l1.046 3.138A5.481 5.481 0 0015.5 52h.868A20.136 20.136 0 0027.78 62.269a12.546 12.546 0 008.44 0A20.136 20.136 0 0047.632 52h.868a5.481 5.481 0 004.454-8.7L54 40.162A19.431 19.431 0 0055 34a23.024 23.024 0 00-12.807-20.611zM23 10c0-3.859 4.038-7 9-7s9 3.141 9 7a5.582 5.582 0 01-.641 2.579 22.913 22.913 0 00-16.717 0A5.571 5.571 0 0123 10zm-7.5 40a3.491 3.491 0 01-1.158-6.788l.047.984A20.285 20.285 0 0015.527 50zm20.047 10.386a10.609 10.609 0 01-7.094 0A18.153 18.153 0 0116.387 44.1l-.329-6.9A24.694 24.694 0 0032 25.215 24.694 24.694 0 0047.942 37.2l-.329 6.9a18.153 18.153 0 01-12.066 16.286zM48.5 50h-.027a20.285 20.285 0 001.138-5.8l.047-.984A3.491 3.491 0 0148.5 50zm3.6-10.471l-.762 2.285a5.462 5.462 0 00-1.585-.664l.168-3.53 1.46.294.4-1.961-2.738-.553A22.676 22.676 0 0132.91 22.586a1 1 0 00-1.82 0A22.676 22.676 0 0114.957 35.4l-2.736.551.395 1.961 1.46-.294.168 3.53a5.462 5.462 0 00-1.585.664l-.759-2.283A17.461 17.461 0 0111 34a21 21 0 0142 0 17.461 17.461 0 01-.9 5.529z"/>
      <path d="M25 46a4.726 4.726 0 003.941-2.109l.891-1.336-1.664-1.11-.891 1.336a2.736 2.736 0 01-4.554 0l-.891-1.336-1.664 1.11.891 1.336A4.726 4.726 0 0025 46zM42.941 43.891l.891-1.336-1.664-1.11-.891 1.336a2.736 2.736 0 01-4.554 0l-.891-1.336-1.664 1.11.891 1.336a4.737 4.737 0 007.882 0zM30.707 49.293l-1.414 1.414.292.293a3.415 3.415 0 004.829 0l.293-.293-1.414-1.414-.293.293a1.447 1.447 0 01-2 0zM28 54h8v2h-8zM20 48h2v2h-2zM24 50h2v2h-2zM45 39h2v2h-2zM30 30h2v2h-2zM39 36h2v2h-2zM18 39h2v2h-2zM29 36h2v2h-2zM40 52h2v2h-2zM34 46h2v2h-2zM27 57h2v2h-2zM42 47h2v2h-2z"/>
    </g>
  </svg>
{% endcapture %}

{% capture face_redness %}
  <svg height="84" width="70" xmlns="http://www.w3.org/2000/svg">
    <path class="a" d="M35.034 84c-8 0-15.54-4.477-23.065-13.685a22.465 22.465 0 01-4.98-14.48c.073-6.251.168-14.979.168-19.085A1.751 1.751 0 018.907 35c17.84 0 24.423-9.335 24.7-9.73a1.751 1.751 0 012.9.007c.267.385 6.791 9.618 24.8 9.618a1.751 1.751 0 011.75 1.75l.008 19.4a22.583 22.583 0 01-4.984 14.22c-4.8 5.9-12.407 13.738-23.04 13.738zM10.653 38.472c-.021 4.512-.1 11.911-.164 17.406A18.949 18.949 0 0014.678 68.1c6.912 8.46 13.38 12.4 20.356 12.4 6.958 0 13.415-3.955 20.328-12.446a19.09 19.09 0 004.2-12.016l-.008-17.675c-14.161-.455-21.6-6.374-24.5-9.4-2.9 3.052-10.339 9.044-24.4 9.51zm0 0"/>
    <path class="a" d="M61.32 63.42h-.77a1.75 1.75 0 010-3.5h.483a8.223 8.223 0 005.467-7.771V35c0-16.835-16.31-24.5-31.465-24.5C19.845 10.5 3.5 18.158 3.5 34.965v17.146a8.213 8.213 0 005.562 7.8h.423a1.75 1.75 0 110 3.5h-.7a1.816 1.816 0 01-.518-.077A11.693 11.693 0 010 52.115v-17.15C0 15.75 18.158 7 35.035 7 51.874 7 70 15.764 70 35v17.01a11.754 11.754 0 01-8.144 11.322 1.663 1.663 0 01-.536.088zm0 0"/>
    <path class="a" d="M55.828 15.82a1.863 1.863 0 01-.311-.028 1.75 1.75 0 01-1.414-2.03 8.594 8.594 0 00.147-1.512A8.758 8.758 0 0045.5 3.5h-21a8.758 8.758 0 00-8.75 8.75 6.293 6.293 0 00.126 1.386 1.749 1.749 0 01-3.405.8 9.412 9.412 0 01-.221-2.186A12.259 12.259 0 0124.5 0h21a12.264 12.264 0 0112.25 12.25 11.742 11.742 0 01-.2 2.124 1.748 1.748 0 01-1.718 1.446zm0 0"/>
    <path d="M35.031 75.812c-5.8 0-11.263-3.245-16.717-9.919a16.282 16.282 0 01-3.609-10.495c.053-4.53.121-10.857.121-13.833a1.269 1.269 0 011.268-1.268c12.93 0 17.7-6.766 17.9-7.052a1.269 1.269 0 012.1 0c.193.279 4.922 6.971 17.972 6.971a1.269 1.269 0 011.269 1.268l.005 14.058a16.369 16.369 0 01-3.612 10.307c-3.478 4.275-8.992 9.957-16.7 9.957zm-17.671-33" fill="#ffb2b2" opacity=".61"/>
    <g transform="translate(21.326 46.745)">
      <circle class="a" cx="1.769" cy="1.769" r="1.769"/>
      <circle class="a" cx="1.769" cy="1.769" r="1.769" transform="translate(23.857)"/>
      <path class="a" d="M13.698 17.1a6.8 6.8 0 01-6.8-6.8h1.313a5.484 5.484 0 0010.968 0h1.313a6.8 6.8 0 01-6.794 6.8z"/>
    </g>
  </svg>
{% endcapture %}

{% capture face_normal %}
  <svg height="84" width="70" xmlns="http://www.w3.org/2000/svg">
    <path class="a" d="M35.034 84c-8 0-15.54-4.477-23.065-13.685a22.466 22.466 0 01-4.98-14.48c.073-6.251.167-14.979.167-19.085A1.751 1.751 0 018.906 35c17.84 0 24.423-9.335 24.7-9.73a1.752 1.752 0 012.9.007c.267.385 6.791 9.618 24.8 9.618a1.75 1.75 0 011.75 1.75l.008 19.4a22.584 22.584 0 01-4.984 14.22c-4.8 5.9-12.407 13.738-23.041 13.738zM10.653 38.472c-.021 4.512-.1 11.911-.164 17.406A18.95 18.95 0 0014.678 68.1c6.912 8.46 13.381 12.4 20.356 12.4 6.958 0 13.416-3.955 20.328-12.446a19.09 19.09 0 004.2-12.016l-.008-17.675c-14.16-.455-21.6-6.374-24.5-9.4-2.9 3.052-10.339 9.044-24.4 9.51zm0 0"/>
    <path class="a" d="M61.32 63.42h-.77a1.75 1.75 0 010-3.5h.483a8.224 8.224 0 005.467-7.771V35c0-16.835-16.31-24.5-31.465-24.5C19.845 10.5 3.5 18.158 3.5 34.965v17.146a8.212 8.212 0 005.562 7.8h.423a1.75 1.75 0 110 3.5h-.7a1.818 1.818 0 01-.518-.077A11.693 11.693 0 010 52.109v-17.15C0 15.744 18.158 6.994 35.035 6.994c16.839 0 34.965 8.764 34.965 28v17.01a11.754 11.754 0 01-8.144 11.322 1.664 1.664 0 01-.536.088zm0 0"/>
    <path class="a" d="M55.828 15.82a1.859 1.859 0 01-.311-.028 1.75 1.75 0 01-1.414-2.03 8.608 8.608 0 00.147-1.512A8.758 8.758 0 0045.5 3.5h-21a8.759 8.759 0 00-8.75 8.75 6.311 6.311 0 00.125 1.386 1.749 1.749 0 01-3.4.8 9.413 9.413 0 01-.221-2.184A12.259 12.259 0 0124.504.002h21a12.264 12.264 0 0112.25 12.25 11.764 11.764 0 01-.2 2.124 1.748 1.748 0 01-1.718 1.446zm0 0"/>
    <g transform="translate(21.326 46.745)">
      <circle class="a" cx="1.769" cy="1.769" r="1.769"/>
      <circle class="a" cx="1.769" cy="1.769" r="1.769" transform="translate(23.857)"/>
      <path class="a" d="M13.698 17.1a6.8 6.8 0 01-6.8-6.8h1.313a5.484 5.484 0 1010.968 0h1.313a6.8 6.8 0 01-6.794 6.8z"/>
    </g>
  </svg>
{% endcapture %}

{% capture face_acne %}
  <svg height="84" width="70" xmlns="http://www.w3.org/2000/svg">
    <path class="a" d="M35.034 84c-8 0-15.54-4.477-23.065-13.685a22.464 22.464 0 01-4.98-14.48c.073-6.251.167-14.979.167-19.085A1.751 1.751 0 018.906 35c17.84 0 24.423-9.335 24.7-9.73a1.751 1.751 0 012.9.007c.267.385 6.791 9.618 24.8 9.618a1.751 1.751 0 011.75 1.75l.007 19.4a22.582 22.582 0 01-4.984 14.22c-4.8 5.9-12.407 13.738-23.041 13.738zM10.653 38.472c-.021 4.512-.1 11.911-.164 17.406a18.949 18.949 0 004.19 12.222c6.912 8.46 13.38 12.4 20.355 12.4 6.958 0 13.416-3.955 20.328-12.446a19.09 19.09 0 004.2-12.016l-.008-17.675c-14.161-.455-21.6-6.374-24.5-9.4-2.9 3.052-10.339 9.044-24.4 9.51zm0 0"/>
    <path class="a" d="M61.32 63.42h-.77a1.75 1.75 0 010-3.5h.483a8.223 8.223 0 005.467-7.771V35c0-16.835-16.31-24.5-31.465-24.5C19.845 10.5 3.5 18.158 3.5 34.965v17.146a8.212 8.212 0 005.562 7.8h.423a1.75 1.75 0 110 3.5h-.7a1.815 1.815 0 01-.518-.077A11.693 11.693 0 010 52.109v-17.15C0 15.744 18.158 6.994 35.035 6.994c16.839 0 34.965 8.764 34.965 28v17.01a11.755 11.755 0 01-8.144 11.322 1.665 1.665 0 01-.536.088zm0 0"/>
    <path class="a" d="M55.828 15.82a1.861 1.861 0 01-.311-.028 1.75 1.75 0 01-1.414-2.03 8.608 8.608 0 00.147-1.512A8.758 8.758 0 0045.5 3.5h-21a8.758 8.758 0 00-8.75 8.75 6.3 6.3 0 00.125 1.386 1.749 1.749 0 01-3.405.8 9.411 9.411 0 01-.22-2.184A12.259 12.259 0 0124.5.002h21a12.264 12.264 0 0112.25 12.25 11.764 11.764 0 01-.2 2.124 1.748 1.748 0 01-1.718 1.446zm0 0"/>
    <circle cx=".667" cy=".667" r=".667" transform="translate(14.266 54.127)"/>
    <path class="b" d="M19.754 64.329a1.789 1.789 0 111.789-1.789 1.791 1.791 0 01-1.789 1.789zm0-2.922a1.133 1.133 0 101.133 1.133 1.134 1.134 0 00-1.133-1.132z"/>
    <circle cx=".468" cy=".468" r=".468" transform="translate(19.291 61.994)"/>
    <path class="b" d="M35.161 37.216a1.789 1.789 0 111.789-1.789 1.791 1.791 0 01-1.789 1.789zm0-2.922a1.133 1.133 0 101.133 1.133 1.134 1.134 0 00-1.133-1.133z"/>
    <circle cx=".468" cy=".468" r=".468" transform="translate(34.698 34.881)"/>
    <path class="b" d="M35.993 75.256a1.789 1.789 0 111.789-1.789 1.791 1.791 0 01-1.789 1.789zm0-2.922a1.133 1.133 0 101.133 1.133 1.134 1.134 0 00-1.133-1.133z"/>
    <circle cx=".468" cy=".468" r=".468" transform="translate(35.531 72.92)"/>
    <path class="b" d="M54.173 54.648a2.225 2.225 0 112.225-2.225 2.228 2.228 0 01-2.225 2.225zm0-3.794a1.569 1.569 0 101.569 1.569 1.571 1.571 0 00-1.569-1.569z"/>
    <circle cx=".608" cy=".608" r=".608" transform="translate(53.573 51.714)"/>
    <g transform="translate(21.326 46.745)">
      <circle class="a" cx="1.769" cy="1.769" r="1.769"/>
      <circle class="a" cx="1.769" cy="1.769" r="1.769" transform="translate(23.857)"/>
      <path class="a" d="M13.694 17.1a6.8 6.8 0 01-6.8-6.8h1.313a5.484 5.484 0 0010.969 0h1.312a6.8 6.8 0 01-6.794 6.8z"/>
    </g>
  </svg>
{% endcapture %}

{% capture face_pores %}
  <svg height="84" width="70" xmlns="http://www.w3.org/2000/svg">
    <path class="a" d="M35.035 84c-8 0-15.54-4.477-23.065-13.685a22.466 22.466 0 01-4.98-14.48c.073-6.251.168-14.979.168-19.085A1.751 1.751 0 018.908 35c17.84 0 24.423-9.335 24.7-9.73a1.752 1.752 0 012.9.007c.267.385 6.791 9.618 24.8 9.618a1.75 1.75 0 011.75 1.75l.008 19.4a22.581 22.581 0 01-4.984 14.22c-4.8 5.9-12.407 13.738-23.04 13.738zM10.654 38.472c-.021 4.512-.1 11.911-.164 17.406A18.95 18.95 0 0014.68 68.1c6.912 8.46 13.38 12.4 20.356 12.4 6.958 0 13.416-3.955 20.328-12.446a19.09 19.09 0 004.2-12.016l-.008-17.675c-14.161-.455-21.6-6.374-24.5-9.4-2.9 3.052-10.339 9.044-24.4 9.51zm0 0"/>
    <path class="a" d="M61.32 63.42h-.77a1.75 1.75 0 010-3.5h.483a8.223 8.223 0 005.467-7.771V35c0-16.835-16.31-24.5-31.465-24.5C19.845 10.5 3.5 18.158 3.5 34.965v17.146a8.213 8.213 0 005.562 7.8h.423a1.75 1.75 0 110 3.5h-.7a1.816 1.816 0 01-.518-.077A11.693 11.693 0 010 52.109v-17.15C0 15.744 18.158 6.994 35.035 6.994c16.839 0 34.965 8.764 34.965 28v17.01a11.755 11.755 0 01-8.144 11.322 1.664 1.664 0 01-.536.088zm0 0"/>
    <path class="a" d="M55.828 15.82a1.864 1.864 0 01-.311-.028 1.75 1.75 0 01-1.414-2.03 8.608 8.608 0 00.147-1.512A8.758 8.758 0 0045.5 3.5h-21a8.758 8.758 0 00-8.75 8.75 6.282 6.282 0 00.125 1.386 1.749 1.749 0 01-3.405.8 9.411 9.411 0 01-.22-2.184A12.259 12.259 0 0124.497 0h21a12.264 12.264 0 0112.25 12.25 11.764 11.764 0 01-.2 2.124 1.748 1.748 0 01-1.718 1.446zm0 0"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(23.648 54.402)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(21.702 54.402)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(22.673 55.798)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(21.004 56.21)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(24.057 56.488)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(22.538 57.598)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(19.208 55.37)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(17.261 55.37)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(18.233 56.765)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(16.564 57.178)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(19.616 57.455)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(18.098 58.565)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(44.587 54.402)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(46.533 54.402)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(45.562 55.797)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(47.231 56.21)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(44.178 56.487)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(45.697 57.598)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(49.027 55.369)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(50.974 55.369)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(50.002 56.765)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(51.671 57.177)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(48.619 57.455)"/>
    <circle class="a" cx=".42" cy=".42" r=".42" transform="translate(50.137 58.565)"/>
    <g transform="translate(21.326 46.745)">
      <circle class="a" cx="1.769" cy="1.769" r="1.769"/>
      <circle class="a" cx="1.769" cy="1.769" r="1.769" transform="translate(23.857)"/>
      <path class="a" d="M13.698 17.1a6.8 6.8 0 01-6.8-6.8h1.313a5.484 5.484 0 0010.968 0h1.313a6.8 6.8 0 01-6.794 6.8z"/>
    </g>
  </svg>
{% endcapture %}

{% capture face_lines %}
  <svg height="84" width="70" xmlns="http://www.w3.org/2000/svg">
    <path class="a" d="M35.035 84c-8 0-15.54-4.477-23.065-13.685a22.465 22.465 0 01-4.98-14.48c.074-6.251.168-14.979.168-19.085A1.751 1.751 0 018.908 35c17.84 0 24.423-9.335 24.7-9.73a1.751 1.751 0 012.9.007c.267.385 6.791 9.618 24.8 9.618a1.751 1.751 0 011.75 1.75l.008 19.4a22.583 22.583 0 01-4.984 14.22c-4.8 5.9-12.407 13.738-23.041 13.738zM10.654 38.472c-.021 4.512-.1 11.911-.164 17.406A18.949 18.949 0 0014.679 68.1c6.912 8.46 13.38 12.4 20.356 12.4 6.958 0 13.416-3.955 20.328-12.446a19.09 19.09 0 004.2-12.016l-.008-17.675c-14.161-.455-21.6-6.374-24.5-9.4-2.9 3.052-10.339 9.044-24.4 9.51zm0 0"/>
    <path class="a" d="M61.32 63.42h-.77a1.75 1.75 0 010-3.5h.483a8.223 8.223 0 005.467-7.771V35c0-16.835-16.31-24.5-31.465-24.5C19.845 10.5 3.5 18.158 3.5 34.965v17.146a8.213 8.213 0 005.562 7.8h.423a1.75 1.75 0 010 3.5h-.7a1.816 1.816 0 01-.518-.077A11.693 11.693 0 010 52.109v-17.15C0 15.744 18.158 6.994 35.035 6.994c16.839 0 34.965 8.764 34.965 28v17.01a11.754 11.754 0 01-8.144 11.322 1.663 1.663 0 01-.536.088zm0 0"/>
    <path class="a" d="M55.828 15.82a1.861 1.861 0 01-.311-.028 1.75 1.75 0 01-1.414-2.03 8.608 8.608 0 00.147-1.512A8.758 8.758 0 0045.5 3.5h-21a8.758 8.758 0 00-8.75 8.75 6.289 6.289 0 00.125 1.386 1.749 1.749 0 01-3.405.8 9.412 9.412 0 01-.221-2.184A12.259 12.259 0 0124.5 0h21a12.264 12.264 0 0112.25 12.25 11.742 11.742 0 01-.2 2.124 1.748 1.748 0 01-1.718 1.446zm0 0M21.042 67.72l6.036-12.072.196.098-6.036 12.072zM42.7 55.745l.196-.098 6.036 12.072-.196.098zM21.598 38.934h26.851v.219H21.598zM16.582 41.016h36.884v.219H16.582z"/>
    <g transform="translate(21.326 46.745)">
      <circle class="a" cx="1.769" cy="1.769" r="1.769"/>
      <circle class="a" cx="1.769" cy="1.769" r="1.769" transform="translate(23.857)"/>
      <path class="a" d="M13.701 17.1a6.8 6.8 0 01-6.8-6.8h1.313a5.484 5.484 0 1010.968 0h1.313a6.8 6.8 0 01-6.794 6.8z"/>
    </g>
  </svg>
{% endcapture %}

{% capture form_page_1 %}
  <div>
    <div class="padding-vertical-xsmall">
      <h3 class="text-left">1. ¿Cuál es tu tono de piel?</h3>
      <div class="d-grid grid-columns-2 medium-grid-columns-6 grid-gap-small">
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormMuyClara" name="customer[note][tono_piel]" type="radio" value="Muy clara"/>
          <label for="CustomerFormMuyClara" style="--bg-color: #FFF0EF;">
            Muy clara
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormClara" name="customer[note][tono_piel]" type="radio" value="Clara"/>
          <label for="CustomerFormClara" style="--bg-color: #FAE1D0;">
            Clara
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormBeige" name="customer[note][tono_piel]" type="radio" value="Beige"/>
          <label for="CustomerFormBeige" style="--bg-color: #EAC5A2;">
            Beige
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormMorenaClara" name="customer[note][tono_piel]" type="radio" value="Morena clara"/>
          <label for="CustomerFormMorenaClara" style="--bg-color: #CA9961;">
            Morena clara
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormMorena" name="customer[note][tono_piel]" type="radio" value="Morena"/>
          <label for="CustomerFormMorena" style="--bg-color: #946B4E;">
            Morena
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormOscura" name="customer[note][tono_piel]" type="radio" value="Oscura"/>
          <label for="CustomerFormOscura" style="--bg-color: #4C4139;">
            Oscura
          </label>
        </div>
      </div>
    </div>
    <div class="padding-vertical-xsmall">
      <h3 class="text-left">2. ¿Cuál es tu color de cabello?</h3>
      <div class="d-grid grid-columns-2 medium-grid-columns-6 grid-gap-small">
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormNegro" name="customer[note][tono_cabello]" type="radio" value="Negro"/>
          <label for="CustomerFormNegro" style="--bg-color: #434343;">
            Negro
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormCastañoOscuro" name="customer[note][tono_cabello]" type="radio" value="CastañoOscuro"/>
          <label for="CustomerFormCastañoOscuro" style="--bg-color: #533622;">
            Castaño oscuro
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormCastañoClaro" name="customer[note][tono_cabello]" type="radio" value="CastañoClaro"/>
          <label for="CustomerFormCastañoClaro" style="--bg-color: #F7DB9D;">
            Castaño claro
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormRubio" name="customer[note][tono_cabello]" type="radio" value="Rubio"/>
          <label for="CustomerFormRubio" style="--bg-color: #CA9961;">
            Rubio
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormRojizo" name="customer[note][tono_cabello]" type="radio" value="Rojizo"/>
          <label for="CustomerFormRojizo" style="--bg-color: #902314;">
            Rojizo
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormGris" name="customer[note][tono_cabello]" type="radio" value="Gris"/>
          <label for="CustomerFormGris" style="--bg-color: #898989;">
            Gris
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormBlanco" name="customer[note][tono_cabello]" type="radio" value="Blanco"/>
          <label for="CustomerFormBlanco" style="--bg-color: #FFFFFF;">
            Blanco
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormOtro" name="customer[note][tono_cabello]" type="radio" value="Otro"/>
          <label for="CustomerFormOtro" style="--bg-color: #9683FF;">
            Otro
          </label>
        </div>
      </div>
    </div>
    <div class="padding-vertical-xsmall">
      <h3 class="text-left">3. ¿Cuál es tu tipo de piel?</h3>
      <div class="d-grid grid-columns-2 medium-grid-columns-6 grid-gap-small">
        <div class="flex flex-column">
          <input class="invisible-option svg-option" id="CustomerFormSeca" name="customer[note][tipo_piel]" type="radio" value="Seca"/>
          <label for="CustomerFormSeca">
            <div>{{cactus_svg}}</div>
            Seca
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option svg-option" id="CustomerFormNormal" name="customer[note][tipo_piel]" type="radio" value="Normal"/>
          <label for="CustomerFormNormal">
            <div>{{ balance }}</div>
            Normal
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option svg-option" id="CustomerFormMixta" name="customer[note][tipo_piel]" type="radio" value="Mixta"/>
          <label for="CustomerFormMixta">
            <div>{{ mixed }}</div>
            Mixta
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option svg-option" id="CustomerFormGrasa" name="customer[note][tipo_piel]" type="radio" value="Grasa"/>
          <label for="CustomerFormGrasa">
            <div>{{water_drop}}</div>
            Grasa
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option svg-option" id="CustomerFormSensible" name="customer[note][tipo_piel]" type="radio" value="Sensible"/>
          <label for="CustomerFormSensible">
            <div>{{ flower }}</div>
            Sensible
          </label>
        </div>
      </div>
    </div>
    <div class="padding-vertical-xsmall">
      <h3 class="text-left">4. Detalles de tu piel</h3>
      <div class="d-grid grid-columns-2 medium-grid-columns-6 grid-gap-small">
        <div class="flex flex-column">
          <input class="invisible-option face-option" id="CustomerFormRojez" name="customer[note][detalles_piel]" type="radio" value="Rojez"/>
          <label for="CustomerFormRojez">
            <div>{{ face_redness }}</div>
            Rojez
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option face-option" id="CustomerFormArrugas" name="customer[note][detalles_piel]" type="radio" value="Arrugas y líneas de expresión"/>
          <label for="CustomerFormArrugas" style="--bg-color: #bababa;">
            <div>{{ face_lines }}</div>
            Arrugas y líneas de expresión
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option face-option" id="CustomerFormPoros" name="customer[note][detalles_piel]" type="radio" value="Poros abiertos"/>
          <label for="CustomerFormPoros" style="--bg-color: #bababa;">
            <div>{{ face_pores }}</div>
            Poros abiertos
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option face-option" id="CustomerFormAcne" name="customer[note][detalles_piel]" type="radio" value="Acné y manchas"/>
          <label for="CustomerFormAcne" style="--bg-color: #bababa;">
            <div>{{ face_acne }}</div>
            Acné y manchas
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option face-option" id="CustomerFormNinguno" name="customer[note][detalles_piel]" type="radio" value="Ninguno"/>
          <label for="CustomerFormNinguno" style="--bg-color: #bababa;">
            <div>{{ face_normal }}</div>
            Ninguno
          </label>
        </div>
      </div>
    </div>
    <div class="padding-vertical-xsmall">
      <h3 class="text-left">5. Selecciona tus tonos favoritos</h3>
      <div class="d-grid grid-columns-2 medium-grid-columns-6 grid-gap-small">
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormCalidos" name="customer[note][tonos_favoritos]" type="radio" value="Cálidos"/>
          <label for="CustomerFormCalidos" style="--bg-color: #FFD067;">
            Cálidos
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormFrios" name="customer[note][tonos_favoritos]" type="radio" value="Fríos"/>
          <label for="CustomerFormFrios" style="--bg-color: #A0CCFF;">
            Fríos
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormOscuros" name="customer[note][tonos_favoritos]" type="radio" value="Oscuros"/>
          <label for="CustomerFormOscuros" style="--bg-color: #464646;">
            Oscuros
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormNeutrales" name="customer[note][tonos_favoritos]" type="radio" value="Neutrales"/>
          <label for="CustomerFormNeutrales" style="--bg-color: #E8E8E8;">
            Neutrales
          </label>
        </div>
        <div class="flex flex-column">
          <input class="invisible-option" id="CustomerFormDivertidos" name="customer[note][tonos_favoritos]" type="radio" value="Divertidos"/>
          <label for="CustomerFormDivertidos" style="--bg-color: #FF3B8E;">
            Divertidos
          </label>
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% capture form_page_2 %}
  <div class="grid-columns-1 d-grid grid-gap-xsmall">
    <div class="grid-columns-1 medium-grid-columns-2 d-grid grid-gap-xsmall">
      <div>
        <label class="hidden-label" for="FirstName">{{ 'customer.register.first_name' | t }}</label>
        <input type="text" name="customer[first_name]" id="FirstName" class="full-width border-light-5 border-xxxsmall padding-horizontal-small padding-vertical-xxsmall background-transparent no-radius" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %} value="{{ form.first_name }}" {% endif %} autocapitalize="words">
      </div>

      <div>
        <label class="hidden-label" for="LastName">{{ 'customer.register.last_name' | t }}</label>
        <input type="text" name="customer[last_name]" id="LastName" class="full-width border-light-5 border-xxxsmall padding-horizontal-small padding-vertical-xxsmall background-transparent no-radius" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %} value="{{ form.last_name }}" {% endif %} autocapitalize="words">
      </div>
    </div>

    <div>
      <label class="hidden-label" for="Email">{{ 'customer.register.email' | t }}</label>
      <input type="email" name="customer[email]" id="Email" class="full-width border-light-5 border-xxxsmall padding-horizontal-small padding-vertical-xxsmall background-transparent no-radius input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}" {% endif %} autocorrect="off" autocapitalize="off">
    </div>

    <div class="grid-columns-1 medium-grid-columns-2 d-grid grid-gap-xsmall">
      <div>
        <label class="hidden-label" for="CreatePassword">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="full-width border-light-5 border-xxxsmall padding-horizontal-small padding-vertical-xxsmall background-transparent no-radius input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
      </div>
      <div>
        <label class="hidden-label" for="ConfirmPassword">{{ 'customer.register.password_confirm' | t }}</label>
        <input type="password" id="ConfirmPassword" class="full-width border-light-5 border-xxxsmall padding-horizontal-small padding-vertical-xxsmall background-transparent no-radius input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password_confirm' | t }}">
      </div>
    </div>
  </div>
{% endcapture %}

<div class="grid padding-vertical-medium padding-horizontal-xsmall flex justify-center" style="background-color: #fefbf9;">

  <div class="grid__item text-center wrapper">

    <header class="section-header">
      <div class="color-main text-center bold">
        TEST
      </div>
      <h1 class="h2 text-center">{{ 'customer.register.title' | t }}</h1>
    </header>

    <div class="form-vertical">
      {% form 'create_customer' %}

        <div class="padding-bottom-medium">
          {{ form_page_1 }}
        </div>
        <button class="btn padding-horizontal-medium button-secondary">Siguiente</button>

        {{ form_page_2 }}

        {{ form.errors | default_errors }}

        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
        </p>
        <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>

      {% endform %}
    </div>

  </div>

</div>
