<div class="padding-vertical-small" style="background-color: {{ section.settings.background_color }};">
    <div class="wrapper">
        {% if section.settings.handle != blank %}
            <div class="page-width feature-row">
                <div class="feature-row flex-column">
                    <p class="rte-setting featured-row__subtext text-center" style="color: rgba(214, 81, 77, 1); font-weight: semibold;">{{ section.settings.handle | escape }}</p>
                </div>
            </div>
        {% endif %}
        {% if section.settings.text != blank %}
            <div class="page-width feature-row">
                <div class="feature-row flex-column">
                    <h2 class="h2 rte-setting featured-row__subtext text-center">{{ section.settings.text | escape }}</h2>
                </div>
            </div>
        {% endif %}

        {% if section.settings.subtitle != blank %}
            <div class="page-width feature-row">
                <div class="feature-row flex-column">
                    <p class="rte-setting featured-row__subtext text-center" style="color: rgba(101, 80, 75, 1);">{{ section.settings.subtitle | escape }}</p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="feature-row margin-vertical-small page-width">
        <div class="social-cards-container feature-row splide" id="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {%- for block in section.blocks -%}
                        <div class="social-card small-radius shadow splide__slide">
                            <div class="flex flex-center user-img">
                                <img class="lazyload" src="{{ block.settings.thumbnail | img_url: '250x250', crop: 'center' }}" alt="{{ block.settings.thumbnail.alt | escape }}">
                            </div>
                            <div class="flex margin-xxsmall">
                                <div class="user-thumbnail margin-right-xxsmall flex flex-center">
                                    <img class="lazyload" src="{{ block.settings.user_photo | img_url: '52x52', crop: 'center' }}" alt="{{ block.settings.user_photo.alt | escape }}">
                                </div>
                                <div class="flex-column flex">
                                    <div>{{ block.settings.name | escape }}</div>
                                    <div>{{ block.settings.username | escape }}</div>
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>

{% schema %}

{
    "name": {
        "cs": "Featured social posts",
        "da": "Featured social posts",
        "de": "Featured social posts",
        "en": "Featured social posts",
        "es": "Publicaciones de redes sociales",
        "fi": "Featured social posts",
        "fr": "Featured social posts",
        "it": "Featured social posts",
        "ja": "Featured social posts",
        "ko": "Featured social posts",
        "nb": "Featured social posts",
        "nl": "Featured social posts",
        "pl": "Featured social posts",
        "pt-BR": "Featured social posts",
        "pt-PT": "Featured social posts",
        "sv": "Featured social posts",
        "th": "Featured social posts",
        "tr": "Featured social posts",
        "vi": "Featured social posts",
        "zh-CN": "Featured social posts",
        "zh-TW": "Featured social posts"
    },
    "settings": [
        {
            "type": "text",
            "id": "handle",
            "label": {
                "cs": "Text",
                "da": "Tekst",
                "de": "Text",
                "en": "Social network handle",
                "es": "Usuario de Red social",
                "fi": "Teksti",
                "fr": "Texte",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "tr": "Metin",
                "vi": "Văn bản",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "default": "@beautydosemx"
        }, {
            "type": "text",
            "id": "text",
            "label": {
                "cs": "Text",
                "da": "Tekst",
                "de": "Text",
                "en": "Title",
                "es": "Título",
                "fi": "Teksti",
                "fr": "Texte",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "tr": "Metin",
                "vi": "Văn bản",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "default": "Let's be friends."
        }, {
            "type": "text",
            "id": "subtitle",
            "label": {
                "cs": "Text",
                "da": "Tekst",
                "de": "Text",
                "en": "Subtitle",
                "es": "Subtítulo",
                "fi": "Teksti",
                "fr": "Texte",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "tr": "Metin",
                "vi": "Văn bản",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "default": "Comparte tu look #beautydosemx"
        }, {
            "type": "color",
            "id": "background_color",
            "label": {
                "cs": "Text",
                "da": "Tekst",
                "de": "Text",
                "en": "Background color",
                "es": "Color de fondo",
                "fi": "Teksti",
                "fr": "Texte",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "tr": "Metin",
                "vi": "Văn bản",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "default": "#fefaf7"
        }
    ],
    "presets": [
        {
            "name": {
                "cs": "Featured social posts",
                "da": "Featured social posts",
                "de": "Featured social posts",
                "en": "Featured social posts",
                "es": "Publicaciones de redes sociales",
                "fi": "Featured social posts",
                "fr": "Featured social posts",
                "it": "Featured social posts",
                "ja": "Featured social posts",
                "ko": "Featured social posts",
                "nb": "Featured social posts",
                "nl": "Featured social posts",
                "pl": "Featured social posts",
                "pt-BR": "Featured social posts",
                "pt-PT": "Featured social posts",
                "sv": "Featured social posts",
                "th": "Featured social posts",
                "tr": "Featured social posts",
                "vi": "Featured social posts",
                "zh-CN": "Featured social posts",
                "zh-TW": "Featured social posts"
            },
            "category": {
                "cs": "Obrázek",
                "da": "Billede",
                "de": "Foto",
                "en": "Promotional",
                "es": "Promocional",
                "fi": "Kuva",
                "fr": "Image",
                "it": "Immagine",
                "ja": "画像",
                "ko": "이미지",
                "nb": "Bilde",
                "nl": "Afbeelding",
                "pl": "Obraz",
                "pt-BR": "Imagem",
                "pt-PT": "Imagem",
                "sv": "Bild",
                "th": "รูปภาพ",
                "tr": "Görsel",
                "vi": "Hình ảnh",
                "zh-CN": "图片",
                "zh-TW": "圖片"
            }
        }
    ],
    "blocks": [
        {
            "type": "user_post",
            "name": "Post",
            "settings": [
                {
                    "id": "thumbnail",
                    "type": "image_picker",
                    "label": "Thumbnail"
                }, {
                    "id": "user_photo",
                    "type": "image_picker",
                    "label": "Foto de usuario"
                }, {
                    "id": "name",
                    "type": "text",
                    "label": "Name"
                }, {
                    "id": "username",
                    "type": "text",
                    "label": "Username"
                }
            ]
        }
    ]
}

{% endschema %} 