<div class="padding-vertical-small" style="background-color: #F5C7A6;">

  <div class="wrapper padding-vertical-small">
    <div class="margin-bottom-small flex align-center justify-center">
      <div class="padding-xsmall full-radius bg-white flex align-center justify-center" style="width: 90px; height: 90px;">
        <svg height="47.426" viewbox="0 0 47.426 47.426" width="47.426" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>.a{fill:#d6514d;}</style>
          </defs><path class="a" d="M1284.853-452.9h-5.928c-1.383,0-2.964-1.186-2.964-3.557v-4.149a6.862,6.862,0,0,0-2.569-5.138,13.658,13.658,0,0,1-5.335-11.066,14.063,14.063,0,0,1,13.635-13.635,13.886,13.886,0,0,1,9.88,3.952,14.068,14.068,0,0,1,4.15,9.88,13.287,13.287,0,0,1-5.138,10.67,7.216,7.216,0,0,0-2.766,5.533v4.545a3.039,3.039,0,0,1-2.964,2.964Zm-2.964-35.569a12.12,12.12,0,0,0-11.856,11.659,11.615,11.615,0,0,0,4.545,9.485,8.613,8.613,0,0,1,3.359,6.719v4.149c0,.4,0,1.581.988,1.581h5.928a.933.933,0,0,0,.988-.988v-4.545a9.6,9.6,0,0,1,3.557-7.113,11.525,11.525,0,0,0,4.347-9.09,11.813,11.813,0,0,0-3.557-8.5,11.647,11.647,0,0,0-8.3-3.359Zm0,0" transform="translate(-1258.176 500.327)"/><path class="a" d="M1358.521-189.981h-9.88a.933.933,0,0,1-.988-.988.933.933,0,0,1,.988-.988h9.88a.933.933,0,0,1,.988.988.933.933,0,0,1-.988.988Zm0,0" transform="translate(-1329.869 231.478)"/><path class="a" d="M1398.39-584.016a.933.933,0,0,1-.988-.988v-3.952a.933.933,0,0,1,.988-.988.933.933,0,0,1,.988.988V-585a.933.933,0,0,1-.988.988Zm0,0" transform="translate(-1374.677 589.944)"/><path class="a" d="M1530.821-516.649a1.186,1.186,0,0,1-.79-.2.955.955,0,0,1,0-1.383L1532.8-521a.954.954,0,0,1,1.383,0,.954.954,0,0,1,0,1.383l-2.766,2.766a1.988,1.988,0,0,1-.593.2Zm0,0" transform="translate(-1493.869 528.11)"/><path class="a" d="M1591.386-359.125h-3.952a.933.933,0,0,1-.988-.988.933.933,0,0,1,.988-.988h3.952a.933.933,0,0,1,.988.988.933.933,0,0,1-.988.988Zm0,0" transform="translate(-1544.949 383.826)"/><path class="a" d="M1533.588-222.138a1.189,1.189,0,0,1-.791-.2l-2.766-2.766a.956.956,0,0,1,0-1.384.955.955,0,0,1,1.383,0l2.766,2.767a.954.954,0,0,1,0,1.383c0,.2-.2.2-.592.2Zm0,0" transform="translate(-1493.869 262.845)"/><path class="a" d="M1236.309-222.138a1.187,1.187,0,0,1-.79-.2.955.955,0,0,1,0-1.383l2.766-2.767a.956.956,0,0,1,1.384,0,.956.956,0,0,1,0,1.384l-2.767,2.766a.725.725,0,0,1-.593.2Zm0,0" transform="translate(-1228.603 262.845)"/><path class="a" d="M1173.5-359.125h-3.952a.933.933,0,0,1-.988-.988.933.933,0,0,1,.988-.988h3.952a.933.933,0,0,1,.988.988.933.933,0,0,1-.988.988Zm0,0" transform="translate(-1168.559 383.826)"/><path class="a" d="M1239.076-518.439a1.188,1.188,0,0,1-.791-.2l-2.766-2.964a.955.955,0,0,1,0-1.383.955.955,0,0,1,1.383,0l2.767,2.766a.956.956,0,0,1,0,1.384c-.2.2-.4.4-.593.4Zm0,0" transform="translate(-1228.603 529.9)"/><path class="a" d="M1406.294-430.819a.933.933,0,0,1-.988-.988,7,7,0,0,0-6.916-6.916.933.933,0,0,1-.988-.988.933.933,0,0,1,.988-.988,8.855,8.855,0,0,1,8.892,8.892.933.933,0,0,1-.988.988Zm0,0" transform="translate(-1374.677 455.519)"/></svg>
      </div>
    </div>
    <div class="margin-bottom-small medium-padding-horizontal-xsmall">
      {% if section.settings.title != blank %}
        <h2 class="h3 text-center">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.subtext != blank %}
        <div class="rte-setting featured-row__subtext text-center">{{ section.settings.subtext }}</div>
      {% endif %}
    </div>
    <div class="feature-row medium-padding-horizontal-xsmall">
      <div class="feature-row__item feature-row__text feature-row__text--left flex flex-column">
        {% if section.settings.person_name != blank %}
          <div class="h5 color-main">{{ section.settings.person_name | escape }}</div>
        {% endif %}
        {% if section.settings.person_quote != blank %}
          <div class="rte-setting featured-row__subperson_quote">{{ section.settings.person_quote }}</div>
        {% endif %}
      </div>
      <div class="feature-row__item image">
        {% if section.settings.image != blank %}
          <noscript>
            {{ section.settings.image | img_url: '600x600' | img_tag: section.settings.image.alt, 'feature-row__image-no-js' }}
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
            {% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="feature-row__image lazyload" src="{{ section.settings.image | img_url: '600x300', crop: 'center' }}" data-src="{{ img_url }}" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ section.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">
          </div>
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}

{
  "name": "Social Tips",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": "Yes, You Can Totally Rock Your Products: Here’s How"
    }, {
      "type": "text",
      "id": "subtext",
      "label": "Subtítulo",
      "default": "¡No te pierdas estos increíbles tips!"
    }, {
      "type": "text",
      "id": "person_name",
      "label": "Nombre",
      "default": "Georgina"
    }, {
      "type": "text",
      "id": "person_quote",
      "label": "Frase de usuario",
      "default": "Probar productos de belleza jamás había sido tan divertido."
    }, {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen"
    }
  ],
  "presets": [
    {
      "name": "Tips",
      "category": "Socials"
    }
  ]
}

{% endschema %}
